<p id="notice"><%= notice %></p>

<p>
  <strong>Coach:</strong>
  <%= @training.coach_id %>
</p>

<p>
  <strong>Training type:</strong>
  <%= @training.training_type_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @training.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @training.end_time %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
