<div class="row">
  <div class="col-md-5">
    <%= f.input :start_time_date, as: :string, as: :hidden, input_html: {  id: "datepicker_#{k.id}", value: "#{l(k.start_time.to_date, format: '%d/%m/%Y')}" } %>
    <div id="datepicker_container_<%= k.id %>">
    </div>
    <script type="text/javascript">
      var form_id = <%= k.id %>
      var date_input = $("#datepicker_" + form_id);

      date_input.datepicker({
        format: 'dd/mm/yyyy',
        autoHide: true,
        weekStart: 1,
        daysMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
        language: "fr-FR",
        startDate: new Date,
        container: $('#datepicker_container_' + form_id),
        inline: true,
      });
    </script>
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-md-2">
    <%= f.label "H" %>
    <button type="button" name="button" class="btn_1"
    id="change_time" data-instance="<%= k.id %>" data-operation="plus" data-for="hour">
      +
    </button>
    <%= f.input :start_time_hour,as: :string, label: false,
      input_html: { id:"input_hour_#{k.id}", class: "hour", onchange: "if( this.value.length == 1 ) this.value='0'+this.value;"  }
    %>
    <button type="button" name="button" class="btn_1" id="change_time" data-instance="<%= k.id %>" data-operation="minus" data-for="hour">
      -
    </button>
  </div>
  <div class="col-xs-1" style="margin-top: 45px;">
    <b>:</b>
  </div>
  <div class="col-md-2">
    <%= f.label "M" %>
    <button type="button" name="button" class="btn_1" id="change_time" data-instance="<%= k.id %>" data-operation="plus" data-for="min">
      +
    </button>
    <%= f.input :start_time_min,as: :string, label: false,
      input_html: { id:"input_min_#{k.id}", class: "minute", onchange: "if( this.value.length == 1 ) this.value='0'+this.value;"  }
    %>
    <button type="button" name="button" class="btn_1" id="change_time" data-instance="<%= k.id %>" data-operation="minus" data-for="min">
      -
    </button>
  </div>
</div>
