<br>
<div class="modal-dialog">
  <div class="modal-content modal-popup">
    <h3>Commencez vôtre Kickstar</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', class: "popup-form", id:"myRegister"}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group ">
        <%= f.text_field :name, :autofocus => true, class: 'form-control form-white', placeholder: "Nom" %>
      </div>
      <%= fields_for :profile do |profile_f| %>
        <div class="form-inputs row">
          <%= profile_f.hidden_field :crew_id, value: @crew.id, readonly: true %>
          <div class="col-lg-8">
            <%= profile_f.text_field :birth_date, class: 'form-control form-white', 'data-toggle' => 'datepicker', placeholder: "Date de naissance" %>
          </div>
          <div class="col-lg-4">
            <%= profile_f.select :sex, [['femme', 1], ['homme', 0]], {:prompt => 'Sex'} %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control form-white', placeholder: "e-mail" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control form-white', placeholder: "mot de passe" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, class: 'form-control form-white', placeholder: "confirmation du mot de passe"  %>
      </div>

       <%= f.submit 'Kickstar!', class: 'btn btn-submit' %>
    <% end %>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<%= javascript_include_tag 'datepicker.js', 'data-turbolinks-track' => 'reload' %>
<script type="text/javascript">
  $('[data-toggle="datepicker"]').datepicker({
    autoHide: true
  });
</script>
