
	<div class="container margin_60_35">
		<div class="row">

			<div class="col-md-9">
				<h2><b>Nous Contactez</b></h2>
				<h3>Envoyez-nous un message...</h3>
				<br>
				<div>
					<div id="message-contact"></div>
  				<%= simple_form_for @contact, url: url_for(:action => 'create', :controller => 'mail_form'), :method => 'post' do |f| %>

						<div class="row">

							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Votre nom:</label>
									<%= f.input :name, :required => true, class:"form-control styled", label: false %>
								</div>
							</div>

							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Votre Email:</label>
									<%= f.input :email, :required => true, class:"form-control styled", label: false %>
								</div>
							</div>

						</div>
						<div class="row">

							<div class="col-md-12">
								<div class="form-group">
									<label>Que voulez-vous nous dire?</label>
									<%= f.input :message, :as => :text, :required => true, label: false, rows:"5", id:"message_contact",  class:"form-control styled", style:"height:100px;" %>
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class= "hidden">
										<%= f.input :nickname, :hint => 'Leave this field blank!' %>
									</div>
							</div>
						</div>
						<%= f.button :submit, 'Envoyer le message', :class=> "btn_full" %>
			    </div>
			  <% end %>
			</div>
			</div>
			<!-- End col lg 9 -->
			<aside class="col-md-3">
				<div class="box_style_2">

					<h4 class="text-center"><u>Nos coordonnées</u></h4>
					<p>
						<b>Addresse:</b>
						<%= @crew.club.address %>
						<br><br>
						<%= tel_to "+32 484 86 05 24", class:"btn_outline" do %>
							<i class="icon-mail-alt"></i> +32 484 86 05 24
						<% end %>
						<br>
						<%= mail_to "contact@kongocoaching.be", class:"btn_outline" do %>
							<i class="icon-mail-alt"></i>:<br>
							contact<br>
							@kongocoaching<br>
							.be
						<% end %>
					</p>

				</div>
				<h4><b><i class="icon-map"></i>Direction vers notre Club</b></h4>
				<form action="http://maps.google.com/maps" method="get" target="_blank">
					<div class="form-group">
						<input type="text" name="saddr" placeholder="Addresse de départ" class="form-control">
						<input type="hidden" name="daddr" value="<%= @crew.club.address %>">
						<!-- Write here your end point -->
					</div>
					<input type="submit" value="On y va!" class="btn_green_outline add_bottom_15">
				</form>
			</aside>
			<!--End aside -->
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
