<head>
  <%= javascript_include_tag 'lovefit/video_header', 'data-turbolinks-track' => 'load' %>
  <%= javascript_include_tag "lovefit/bootstrap-portfilter", 'data-turbolinks-track' => 'load' %>
</head>
<section class="header-video">
  <div id="hero_video">
    <div id="sub_content">
      <div class="mobile_fix">
                <div>
                  <%= image_tag "biglogo" %>
                  <h1 >Coaching</h1>
                </div>
                  <h3 style="color: lightgrey"><t class="wow fadeIn animated" data-wow-delay="0.4s">Un <strong>Chemin,</strong></t><t class="wow fadeIn animated" data-wow-delay="0.8s"> Des <strong>Resultats</strong></h3></t>
      </div>
    </div>
    <!-- End sub_content -->
  </div>
  <img src="<%= asset_path('video_fix.png') %>" alt="" class="header-video--media" data-video-src="<%= video_bg_path('pre_pro_version.mp4') %>" data-teaser-source="<%= video_bg_path('pre_pro_version.mp4') %>" data-provider="" data-video-width="1920" data-video-height="960">
  <div id="count" class="text-center hidden-md">
    <%= link_to "/1/signup", class:"btn_1" do %>
      <h2 style="color:white;"><i class="icon-heart"></i>Commencez mon kickstar!</h2>
    <% end %>
  </div>
</section>
<section class="text-center hidden-lg" style="padding: 12px; background: #333;">
  <%= link_to kc_kistart_register_path, class:"btn_1", turbolinks: false do %>
    <h4 style="color: white;"><i class=" icon-heart"></i> Commencez mon kickstar!</h4>
  <% end %>
</section>
<section class="hero">
      <%= image_tag "back.jpg", class: "hero__background" %>
	<div class="container">
		<h2 class="main_title  hero__title" style="color:green; width:100%;">
              <em></em>
              Des Professionels
              <span style="color:white">Un <strong>Chemin,</strong> Des <strong>Resultats</strong></span>
          </h2>
		<p class="lead styled  hero__title">
			Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.
		</p>
		<div class="row hero__title">
			<div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.4s">
				<div class="box_feat" id="">
					<h3>Videos Workout</h3>
					<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos. </p>
				</div>
			</div>
			<div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.8s">
				<div class="box_feat" id="">
					<h3>Expert Trainers</h3>
					<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos. </p>
				</div>
			</div>
			<div class="col-sm-4 wow fadeIn animated" data-wow-delay="1.2s">
				<div class="box_feat" id="">
					<h3>Play Everywhere</h3>
					<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos. </p>
				</div>
			</div>
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</section>
	<!-- End section -->

<div class="container_styled_1">
	<div class="container margin_60_35">
		<h2 class="main_title" style="color:green"><em></em>Nos Services</h2>
		<div class="row">
      <% @services.each do |service| %>
        <%= render 'service_isntance', service: service %>
      <% end %>
			<div class="col-md-4">
				<a href="/1/services" id="view_all"><span><i class="arrow_carrot-right_alt2"></i>Voir tout nos services</span></a>
			</div>
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</div>

<div class="container_styled_1">
	<div class="container margin_60_35">
		<h2 class="main_title" style="color:green"><em></em>Notre Equipe</h2>

<div class="container">
  <div class="owl-carousel team-carousel">

    <% @coaches.each do |coach| %>
      <div class="team-item">
        <div class="team-item-img">
          <%= show_his_pic_or_default coach %>
          <div class="team-item-detail">
            <div class="team-item-detail-inner">
              <h4><%= coach.get_name %></h4>
              <p>
                <% coach.specialties.each do |specialty| %>
                 <%= specialty.name %>/
                <% end %>
              </p>
              <a href="/1/coaches/<%= coach.id %>" class="btn_1">Voir son profile</a>
            </div>
          </div>
        </div>
        <div class="team-item-info">
          <h4><%= coach.get_name %></h4>
          <p>Personal Trainer</p>
        </div>
      </div>
    <% end %>

    <div class="team-item">
      <div class="team-item-img">
        <%= image_tag "http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Group-icon.png" %>
        <div class="team-item-detail">
          <div class="team-item-detail-inner">
            <h4></h4>
            <a href="/1/coaches" class="btn_1">Voir toute notre équipe</a>
          </div>
        </div>
      </div>
      <div class="team-item-info">
        <h4><a href="/1/coaches">Toute l'équipe</a></h4>
        <p>Personal Trainer</p>
      </div>
    </div>

  </div>
</div>
</div>
</div>

<section class="margin_60_35" id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Pouquoi faire Kickstart?</h3>
          <p class="lead"><span>- Faire connaissance avec l&rsquo;entra&icirc;nement personnalis&eacute; et d&eacute;couvrir votre club</span></p>
          <p class="lead"><span>- Petits groupes de 1 &agrave; 3 personnes</span></p>
          <p class="lead"><span>- Exercices et conseils afin de pouvoir vous entra&icirc;ner tout seul apr&egrave;s la s&eacute;ance.</span></p>
				<p>
          La séance Kickstart a lieu en petits groupes d’une à trois personnes. Pour seulement 14,99 €, vous découvrez en toute simplicité les possibilités offertes par le recours à un entraîneur personnel. Il ou elle vous expliquera comment fonctionnent les équipements de votre club et quels exercices il convient de réaliser pour atteindre vos objectifs. Si, après cette séance Kickstart, vous êtes aussi enthousiaste que les membres qui vous ont précédé, vous pourrez prendre directement rendez-vous pour commencer votre entraînement personnalisé chez Basic-Fit. Après la séance Kickstart, vous préférez vous entraîner tout seul ? C’est bien sûr possible !
				</p>
			</div>
			<div class="col-md-6">
        <b><font size="12">15€</font></b><h5> à payer sur place</h5>
        <%= image_tag "https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAALiAAAAJDYzZTg0Y2QxLTE4MmUtNDlhZC05NjMxLTFlMmQ1ZWEwNWVhYQ.jpg" %>
        <br><br>
          <%= link_to kc_kistart_register_path, class:"btn_white_outline", turbolinks: false do %>
            <i class=" icon-heart"></i> Reserver en 3 étapes!
          <% end %>
			</div>
		</div>
		<!--  End row -->
	</div>
	<!--  End container-->
</section>
<div id="newsletter_container">
	<div class="container margin_60">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h3>Tenez-vous au courant de nos actualités...
          <h4><i>inscrivez-vous a nôtre newsletter pour restez avoirs des infos ou des offres inédites.</i></h4>
        </h3>
        <hr class="invisible">
				<div id="message-newsletter"></div>
          <%= form_for(@subscriber, id: "newsletter", class: "form-inline") do |f| %>
            <div class="col-md-9">
              <%= f.email_field :email, id: "email_newsletter", class: "form-control trainer_frame", placeholder: "votre Email" %>
              <%= f.hidden_field :crew_id, value: @crew.id, readonly: true %>
            </div>
            <div class="col-md-3">
              <%= button_tag id:"submit-newsletter", class: 'btn_1', type: :submit do %>
               M'inscire!
              <% end %>
            </div>
          <% end %>
			</div>
		</div>
	</div>
</div>

<script>
  'use strict';
  HeaderVideo.init({
    container: $('.header-video'),
    header: $('.header-video--media'),
    videoTrigger: $("#video-trigger"),
    autoPlayVideo: true
  });
  $(".team-carousel").owlCarousel({
    items: 1,
    loop: true,
    margin: 10,
    autoplay: true,
    smartSpeed: 300,
    responsiveClass: false,
    responsive: {
      320: {
        items: 1,
      },
      768: {
        items: 2,
      },
      1000: {
        items: 3,
      }
    }
  });
</script>
