
<%= javascript_include_tag 'lovefit/video_header', 'data-turbolinks-track' => 'reload' %>
<%= javascript_include_tag "lovefit/bootstrap-portfilter", 'data-turbolinks-track' => 'reload' %>

<section class="header-video">
  <div id="hero_video">
    <div id="sub_content">
      <div class="mobile_fix">
                <div class="wow fadeInDown animated" data-wow-delay="0.6s">
                  <%= image_tag "biglogo" %>
                  <h1>Coaching</h1>
                </div>
                  <h3 style="color: lightgrey"><t class="wow fadeIn animated" data-wow-delay="1s">Un <strong>Chemin,</strong></t><t class="wow fadeIn animated" data-wow-delay="1.5s"> Des <strong>Resultats</strong></h3></t>
      </div>
    </div>
    <!-- End sub_content -->
  </div>
  <img src="<%= asset_path('video_fix.png') %>" alt="" class="header-video--media" data-video-src="<%= video_bg_path('pre_pro_version.mp4') %>" data-teaser-source="<%= video_bg_path('pre_pro_version.mp4') %>" data-provider="" data-video-width="1920" data-video-height="960">
  <div id="count" class="text-center hidden-md hidden-sm hidden-xs">
    <%= link_to "/1/easy_register", class:"btn_1" do %>
      <t style="font-size: 25px"><i class="icon-heart"></i>Commencez mon Starter-Pack!</t>
    <% end %>
  </div>
</section>
<section class="text-center hidden-lg" style="padding: 12px; background: #333;">
  <%= link_to kc_kistart_register_path, class:"btn_1", turbolinks: false do %>
    <t style="font-size: 25px"><i class=" icon-heart"></i> Commencez mon kickstar!</t>
  <% end %>
</section>
<section class="hero">
      <%= image_tag "back.jpg", class: "hero__background" %>
	<div class="container">
		<h2 class="main_title  hero__title" style="color:green; width:100%;">
              <em></em>
              A propos de nous
              <span style="color:white">Un <strong>Chemin,</strong> Des <strong>Resultats</strong></span>
          </h2>
		<p class="lead styled  hero__title">
      Une idée, une pensée, un rêve. Ainsi la Blak Kongo Coaching vit le jour.
      <br><br>
      Des coachs polyvalents capables de s'adapter à différents types de situations afin de vous permettre d'atteindre vos objectifs.
      <br><br>
      Nous sommes là pour vous
		</p>
		<div class="row hero__title">
			<div class="col-md-6 wow fadeIn animated" data-wow-delay="0.4s">
				<div class="box_feat" id="">
					<h3>Où Sommes Nous?</h3>
					<p>
            <h4><%= link_to_gmaps @club, @club.name %></h4>
            <%= static_map_for @club %>
          </p>
				</div>
			</div>
			<div class="col-md-6 wow fadeIn animated" data-wow-delay="1.2s">
				<div class="box_feat" id="">
					<h3>Comment Nous Contacter?</h3>
          <h4>Par téléphone</h4>
          <%= tel_to "+32 484 86 05 24", class:"btn_full" do %>
            <i class="icon-mail-alt"></i> +32 484 86 05 24
          <% end %>
          <br>
          <h4>Par email</h4>
          <%= mail_to "contact@kongocoaching.be", class:"btn_full" do %>
            <i class="icon-mail-alt"></i>:<br>
            contact@kongocoaching.be
          <% end %>
          <h4>Via notre site</h4>
          <a href="/1/contact" class="btn_full"><i class="icon-mail-alt"></i> cliquez ici</a>
				</div>
			</div>
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</section>
	<!-- End section -->

<div class="container_styled_1">
	<div class="container margin_60_35">
		<h2 class="main_title" style="color:green"><em></em>Nos Services</h2>
		<div class="row">
      <% @services.each do |service| %>
        <%= render 'service_isntance', service: service %>
      <% end %>
			<div class="col-md-4">
				<a href="/1/services" id="view_all"><span><i class="arrow_carrot-right_alt2"></i>Voir tous nos services</span></a>
			</div>
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</div>

<div class="container_styled_1">
	<div class="container margin_60_35">
		<h2 class="main_title" style="color:green"><em></em>Notre Equipe</h2>
    <div class="container">
      <div class="owl-carousel team-carousel">
        <% @coaches.each do |coach| %>
          <div class="team-item">
            <div class="team-item-img" style="height: 300px;">
              <%= show_his_pic_or_default coach %>
              <div class="team-item-detail">
                <div class="team-item-detail-inner">
                  <h4><%= coach.get_name %></h4>
                  <p>
                    <% coach.specialties.each do |specialty| %>
                     <%= specialty.name %>/
                    <% end %>
                  </p>
                  <a href="/1/coaches/<%= coach.id %>" class="btn_1">Voir son profile</a>
                </div>
              </div>
            </div>
            <div class="team-item-info">
              <h4><%= coach.get_name %></h4>
              <p>Personal Trainer</p>
            </div>
          </div>
        <% end %>
      </div>
      <a href="/1/coaches" class="btn_full">Voir toute notre équipe</a>
    </div>
  </div>
</div>

<section class="margin_60_35" id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Pourquoi faire Starter-Pack?</h3>
          <p class="lead"><span>- Faites connaissance avec l'entrainement personnalisé et découvrez votre club</span></p>
          <p class="lead"><span>- Petits groupes de 1 &agrave; 3 personnes</span></p>
          <p class="lead"><span>- Exercices et conseils afin de pouvoir vous entra&icirc;ner tout seul apr&egrave;s la s&eacute;ance.</span></p>
			</div>
			<div class="col-md-6">
        <b><font size="12">9,99€</font></b><h5> à payer sur place</h5>
        <%= image_tag "https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAALiAAAAJDYzZTg0Y2QxLTE4MmUtNDlhZC05NjMxLTFlMmQ1ZWEwNWVhYQ.jpg" %>
        <br><br>
          <%= link_to kc_kistart_register_path, class:"btn_white_outline", turbolinks: false do %>
            <i class=" icon-heart"></i> Réservez en 3 étapes!
          <% end %>
			</div>
		</div>
		<!--  End row -->
	</div>
	<!--  End container-->
</section>
<div id="newsletter_container">
	<div class="container margin_60">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h3>Tenez-vous au courant de nos actualités...
          <h4><i>inscrivez-vous à notre newsletter pour continuer à avoir des infos ou des offres inédites.</i></h4>
        </h3>
        <hr class="invisible">
				<div id="message-newsletter"></div>
          <%= form_for(@subscriber, id: "newsletter", class: "form-inline") do |f| %>
            <div class="col-md-9">
              <%= f.email_field :email, id: "email_newsletter", class: "form-control trainer_frame", placeholder: "votre Email" %>
              <%= f.hidden_field :crew_id, value: @crew.id, readonly: true %>
            </div>
            <div class="col-md-3">
              <%= button_tag id:"submit-newsletter", class: 'btn_1', type: :submit do %>
               M'inscire!
              <% end %>
            </div>
          <% end %>
			</div>
		</div>
	</div>
</div>

<script>
  'use strict';
  HeaderVideo.init({
    container: $('.header-video'),
    header: $('.header-video--media'),
    videoTrigger: $("#video-trigger"),
    autoPlayVideo: true
  });
  $(".team-carousel").owlCarousel({
    items: 1,
    loop: true,
    margin: 10,
    autoplay: true,
    smartSpeed: 300,
    responsiveClass: false,
    responsive: {
      320: {
        items: 1,
      },
      768: {
        items: 2,
      },
      1000: {
        items: 3,
      }
    }
  });
</script>
