<section class="hero">
  <%= image_tag @service.photo.url , class: "hero__background" %>

  <h4 class="main_title  hero__title" style="color:green; width:100%;"> Nos services: </h4>
	<h2 class="main_title  hero__title" style="color:green; width:100%;">
    <strong><%= @service.get_name %></strong>
  </h2>

</section>
<div class="breadcrums">
  <%= link_to "Acceille", "/1/home", data: { turbolinks: false } %> >>
  <%= link_to "Nos Service", "/1/services" %> >>
  <u><%= link_to @service.get_name, "", disabled: true %></u>
</div>
<div class="container margin_60">
  <div class="row">
    <div class="col-md-6 ">
      <% if @service.video != nil %>
        <div class="wrapper16_9">
          <div class="video_ratio">
            <%= youtube_embed @service.video %>
          </div>
        </div>
      <% else %>
        <%= image_tag @service.photo.url %>
      <% end %>

      <ul id="course_info">
        <li><%= @service.get_name %></li>
        <li><i class="icon-clock"></i> <%= @service.duration %> </li>
        <li><i class="icon-users-3"></i></li>
      </ul>
      <div class="theiaStickySidebar">
        <div class="box_style_2">
          <p>Vous voullez avoir plus d'infos sur ce service ou vous y inscrire...</p>
          <a class="btn_outline" href="#"><i class=" icon-mail"></i> Contactez-nous!</a>
        </div>
        <!-- End box_style -->
      </div>
    </div><!-- End col -->
    <div class="col-md-6" id="sidebar">
      <div class="indent_title_in">
			  <i class="icon-question"></i>
        <br>
				<h3>A propos de ce Service</h3>
			</div>
      <p><%= @service.html_description %></p>

      <% if @service.its_coaches.length > 0 %>
      <hr>
      <div class="indent_title_in">
			  <i class="icon-group"></i>
        <br>
				<h3>Les coaches de ce service</h3>
			</div>

          <% @service.its_coaches.each do |coach| %>
            <div style="width:100%">
              <%= link_to "/1/coaches/#{coach.id}", class: "coach_frame" do %>
              <div class="row">
                <div class="col-md-4 col-xs-6">
                  <div class="wrapper-squared">
                    <%= show_his_pic_or_default coach, "picture_frame img-circle styled_2 pull-left" %>
                  </div>
                </div>
                <div class="col-md-8 col-xs-6" style="width: 50%; margin: 0 auto;">
                  <%= coach.get_name %>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <!-- End theiaStickySidebar -->
    </div>
    <!-- End col -->
  </div>
  <!-- End row -->
</div>
<!-- End container -->
<ul id="course_info">
  <li><h4><font color="white">Multimedia</font></h4></li>
  <li><i class="icon-video"></i></li>
  <li><i class="icon-picture"></i></li>
</ul>
<div class="workoutlist">
  <div class="row">
    <% if has_videos_of(@service) %>
      <div class="col-md-6 multimedia">
        <h3 >Videos de <%= @service.get_name %></h3>
        <% @service.video_links.each do |video| %>
          <div class="col-md-4 container">
            <div class="vids_index">
              <a class="vids popup-youtube" href="<%= video.video_path %>" data-turbolinks="false">
                <span><font style="background-color: white; font-size: 35px;"><i class="icon-youtube"></i> <i class="icon-play"></i></font></span>
                <%= image_tag video.yt_thumbnail %>
              </a>
              <hr>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-6 multimedia">
      <div class="magnific-gallery">
      <h3 >Photos de <%= @service.get_name %></h3>
      <br>
        <% @service.avatars.each do |pic| %>
          <div class="col-md-4">
            <div class="wrapper16_9">
              <div class="picture_frame">
                <a class="magnific-picture notboldhover" href="<%= pic.photo.url %>" title="<%= pic.vignette %>">
                  <%= image_tag pic.photo.url %>
                </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End workoutlist -->
