<section class="hero">
  <%= image_tag @service.photo.url , class: "hero__background" %>
	<div class="container">
    <h4 class="main_title  hero__title" style="color:green; width:100%;"> Nos services: </h4>
		<h2 class="main_title  hero__title" style="color:green; width:100%;">
      <strong><%= @service.name %></strong>
    </h2>
  </div>
</section>
<div class="breadcrums">
  <%= link_to "Acceille", "/1/home", data: { turbolinks: false } %> >>
  <%= link_to "Nos Service", "/1/services" %> >>
  <u><%= link_to @service.name, "", disabled: true %></b>
</div>
<div class="container margin_60">
  <div class="row">
    <div class="col-md-6 ">
      <% if @service.video != nil %>
        <div class="wrapper16_9">
          <div class="video_ratio">
            <%= youtube_embed @service.video %>
          </div>
        </div>
      <% else %>
        <%= image_tag @service.photo.url %>
      <% end %>

      <ul id="course_info">
        <li><%= @service.name %></li>
        <li><i class="icon-clock"></i> <%= @service.duration %> </li>
        <li><i class="icon-users-3"></i></li>
      </ul>
      <div class="theiaStickySidebar">
        <div class="box_style_2">
          <p>Vous voullez avoir plus d'infos sur ce service ou vous y inscrire...</p>
          <a class="btn_outline" href="#"><i class=" icon-mail"></i> Contactez-nous!</a>
        </div>
        <!-- End box_style -->
      </div>
    </div><!-- End col -->
    <div class="col-md-6" id="sidebar">
      <h2>Description</h2>
      <p><%= @service.description %></p>

      <% if @service.its_coaches.length > 0 %>
        <h4>Qui donne cette entrainement?</h4>
        <br>
          <% @service.its_coaches.each do |coach| %>
            <div style="width:100%">
              <a href="#0" class="coach_frame" style="padding-bottom:3rem; margin-bottom: 1rem;">
                <% if coach.avatars.count != 0 %>
                  <%= image_tag coach.photo.url(:thumb), class: "img-circle thumb_frame pull-left" %>
                <% else %>
                  <%= image_tag "http://irontrainer.co/wp-content/uploads/2017/01/personal-trainer-demonstrating-squat-lLas-Vegas-256x256.jpg", class: "img-circle thumb_frame pull-left" %>
                <% end %>
                <br>
                <%= coach.name %>
              </a>
            </div>
          <% end %>
        <% end %>

      <!-- End theiaStickySidebar -->
    </div>
    <!-- End col -->
  </div>
  <!-- End row -->
</div>
<!-- End container -->
<ul id="course_info">
  <li><h4><font color="white">Multimedia</font></h4></li>
  <li><i class="icon-video"></i></li>
  <li><i class="icon-picture"></i></li>
</ul>
<div class="workoutlist">
  <div class="row">
    <% if has_videos_of(@service) %>
      <div class="col-md-6 multimedia">
        <h3 >Videos de <%= @service.name %></h3>
        <% @service.video_links.each do |video| %>
          <div class="col-md-4 container">
            <div class="vids_index">
              <a class="vids popup-youtube" href="<%= video.video_path %>" data-turbolinks="false">
                <span><font style="background-color: white; font-size: 35px;"><i class="icon-youtube"></i> <i class="icon-play"></i></font></span>
                <%= image_tag video.yt_thumbnail %>
              </a>
              <hr>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-6 multimedia">
      <div class="magnific-gallery">
      <h3 >Photos de <%= @service.name %></h3>
      <br>
        <% @service.avatars.each do |pic| %>
          <div class="col-md-4">
            <a class="magnific-picture notboldhover" href="<%= pic.photo.url %>" title="<%= pic.vignette %>">
              <%= image_tag pic.photo.url, class: "picture_frame" %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End workoutlist -->
