<h1>Rajouter un coach</h1>
<%= simple_form_for(@new_coaches_crew, url: "/crews/#{@crew.id}/add_cc", method: :post, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-7">
      <div class="form-inputs">
        <%= f.input :name, label:"Son nom" %>
        <%= f.input :description, input_html: {style: "min-height: 125px;"} %>
        <%= f.label :training_type_ids, "CV (Quelles services/entrainements donne-t-il?)" %>
        <%= f.collection_select :training_type_ids, TrainingType.order(:name), :id, :name, {}, {multiple: true, class: "chosen-select"} %>
      </div>
    </div>
    <div class="col-md-5">
      <h4>
        <strong><i class="icon-star"></i>Photo Star</strong>
      </h4>
      <%= render './shared/nest_avatar_form', {f: f, attachable: @new_coaches_crew }  %>
    </div>
  </div>
  <hr>
  <%= render './shared/multimedia_form', {f: f, attachable: @new_coaches_crew }  %>
  <br>
  <br>
  <hr>
  <%= button_tag class: 'btn_full', type: :submit do %>
   <font size="50px">Ajoutez ce Coach</font>
  <% end %>
<% end %>
