<div class="row">
  <h2>Rajouter un coach</h2>
  <%= simple_form_for(@new_coaches_crew, url: "/crews/#{@crew.id}/add_cc", method: :post, html: { multipart: true }) do |f| %>
    <%= f.error_notification %>


  <div class="col-md-7">
   <div class="form-inputs">
     <%= f.input :name, label:"Son nom" %>
     <%= f.input :description, input_html: {style: "min-height: 125px;"} %>
   </div>
  </div>
  <hr>
  <div class="col-md-5">
    <h4><strong>Photo de profiles</strong></h4>
    <%= render './shared/nest_avatar_form', {f: f, attachable: @new_coaches_crew }  %>

    <hr>
    <div class="video_links">
      video youtube
      <%= link_to_add_association 'ajouter un lien youtube', f, :video_links,
       data: { association_insertion_node: '.video_links', association_insertion_method: :append },
       partial: './shared/video_link_fields' %>
      <br>
      <%= f.simple_fields_for :video_links do |v| %>
       <%= render './shared/video_link_fields', f: v  %> <br>
      <% end %>
   </div>
  </div>
   <br>
   <div class="form-actions">
    <%= f.button :submit, label: "ajouter le coach" %>
   </div>
  <% end %>
</div>
