<div class="container">
  <%= form_for(@user, url: "/update_profile", method: 'post', html: { role: 'form'}) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <label>Nom:</label>
      <%= f.text_field :name, :autofocus => true, class: 'form-control', placeholder: "Nom" %>
    </div>
    <%= fields_for :profile do |profile_f| %>
      <%= render './profiles/form', profile: @profile, profile_f: profile_f  %>
    <% end %>
    <div class="row">
      <div class="col-sm-12">
        <%= button_tag class: 'btn_full', type: :submit do %>
         Enregister!
        <% end %>
      </div>
    </div>
  <% end %><!--end form-->
</div>
<script type="text/javascript">
  date_input = $('[data-toggle="datepicker"]');
  date_input.datepicker({
    format: 'dd/mm/yyyy',
    autoHide: true,
    weekStart: 1,
    daysMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
    language: "fr-FR",
    startView: 2,
  });

  $(document).ready(function(){
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
      increaseArea: '20%' // optional
    });
  });
</script>
