
<a href="#0" class="btn_1 white" data-toggle="modal" data-target="#add_vid<%= watchable_id %>">
  +<i class="icon-video"></i>
</a>
<div class="modal fade" id="add_vid<%= watchable_id %>" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog"  role="document" style="width: 25%;">
    <div class="modal-content modal-popup">
      <h3 class="text-center">Ajouter une video YouTube <i class="icon-video"></i></h3>
      <%= simple_form_for( new_videolink, url: "/crews/#{@crew.id}/add_videolink/#{watchable_type}/#{watchable_id}", method: 'post') do |f| %>
        <%= render "./shared/nest_videolink_form", v: f %>
        <li role="separator" class="divider"></li>
        <%= button_tag class: 'btn_full', type: :submit do %>
         <i class="icon-floppy"></i> Ajouter!
        <% end %>
      <% end %>
    </div>
  </div>
</div>
