
<a href="#0" class="btn_1 white" data-toggle="modal" data-target="#add_pic<%= attachable.id %>">
  +<i class="icon-picture"></i>
</a>
<div class="modal fade" id="add_pic<%= attachable.id %>" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog"  role="document" style="width: 25%;">
    <div class="modal-content modal-popup">
      <h3 class="text-center">Ajouter une Photo <i class="icon-picture"></i></h3>
      <%= simple_form_for( new_avatar, url: "/crews/#{@crew.id}/add_avatar/#{attachable_type}/#{attachable.id}", method: 'post') do |f| %>
        <%= render "./shared/nest_avatar_form", { f: f, attachable: attachable } %>
        <li role="separator" class="divider"></li>
        <%= button_tag class: 'btn_full', type: :submit do %>
          <i class="icon-floppy"></i>  Ajouter!
        <% end %>
      <% end %>
    </div>
  </div>
</div>
