<div class="dropdown">
  <a href="#0" class="btn_1 white dropdown-toggle shadowed" type="button" id="addpic<%= attachable.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    +<i class="icon-picture"></i>
  </a>
  <div class="dropdown-menu custom_edit_multimedia wow fadeIn animated" aria-labelledby="addpic<%= attachable.id %>">
    <h3 class="text-center">Ajouter une Photo <i class="icon-picture"></i></h3>
    <%= simple_form_for( new_avatar, url: "/crews/#{@crew.id}/add_avatar/#{attachable_type}/#{attachable.id}", method: 'post') do |f| %>
      <%= render "./shared/nest_avatar_form", { f: f, attachable: attachable } %>
      <li role="separator" class="divider"></li>
      <%= button_tag class: 'btn_full', type: :submit do %>
        <i class="icon-floppy"></i>  Ajouter!
      <% end %>
    <% end %>
  </div>
</div>
