<div class="margintop">
  .
</div>
<div class="margintop text-center">
  <h1>Se connecter</h1>
</div>
<div class="container row center-block">
  <div class="margintop verticalLine col-md-6" style="height: 100%;">
    <div class="authform"></div>
    <%= render "shared/social_login" %>
  </div>
  <div class="authform margintop col-md-6">
    <div class=""></div>
    <h3>Où par mot de passe:</h3>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Mot de passe oublier?", new_password_path(resource_name), class: 'right' %>
      <% end -%>
        <% if devise_mapping.rememberable? -%>
          <div class="" style="width:150px">
            <label>
              Se souvenir de moi
            </label>
            <%= f.check_box :remember_me, checked: true %>
          </div>
        <% end -%>
        <%= f.submit 'Se connecter', :class => 'btn_1 right' %>
    <% end %>
  </div>
</div>
