<p id="notice"><%= notice %></p>

<h1>Annoncements</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annoncements.each do |annoncement| %>
      <tr>
        <td><%= link_to 'Show', annoncement %></td>
        <td><%= link_to 'Edit', edit_annoncement_path(annoncement) %></td>
        <td><%= link_to 'Destroy', annoncement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annoncement', new_crew_annoncement_path %>
