<p id="notice"><%= notice %></p>

<h1>Training Types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Duration hours</th>
      <th>Duration minutes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_types.each do |training_type| %>
      <tr>
        <td><%= training_type.type %></td>
        <td><%= training_type.description %></td>
        <td><%= training_type.duration_hours %></td>
        <td><%= training_type.duration_minutes %></td>
        <td><%= link_to 'Show', training_type %></td>
        <td><%= link_to 'Edit', edit_training_type_path(training_type) %></td>
        <td><%= link_to 'Destroy', training_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training Type', new_training_type_path %>
