<div class="container">
<p id="notice"><%= notice %></p>
<% if @training_type.avatars.count != 0 %>
  <%= image_tag @training_type.photo.url(:medium) %>
<% end %>
<%= youtube_embed(@training_type.video_link) %>
<p>
  <strong>Type:</strong>
  <%= @training_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @training_type.description %>
</p>

<p>
  <strong>Duration hours:</strong>
  <%= @training_type.duration_hours %>
</p>

<p>
  <strong>Duration minutes:</strong>
  <%= @training_type.duration_minutes %>
</p>

<%= link_to 'Edit', edit_training_type_path(@training_type) %> |
<%= link_to 'Back', training_types_path %>
</div>
