<div class="hero">
    <img class="hero__background" src="/assets/back-dc9f65e7a5bb8629f835522dded76a2d14de4b6eed172e23d1ffdab60828fcaf.jpg">
      <h1 class="hero__title"><b>Commencez votre Kickstar</b></h1>
      <h4 class="hero__title">Quand voulez prendre RDV?</h4>
    </p>
  <div class="container hero__title" style="padding: 100px;">
    <%= render 'form', kickstart: @kickstart %>
  </div>
</div>
<a href="#" data-toggle="modal" data-target="#motivation" class="hidden-xs">Login</a>
<div class="modal fade" id="motivation" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <%= simple_form_for(@profile, url: {action: "add_motivation", controller: 'kickstarts'}, method: 'post') do |f| %>
        <div class="form-inputs">
          <%= f.input :motivation %>
        </div>

      <div class="row">
        <div class="col-md-6">
          <%= link_to "Je le ferais avec mon coach...", '/after_kickstart_creation', method: :post %>
        </div>
        <div class="form-actions col-md-6">
          <%= button_tag class: 'btn_full', type: :submit do %>
           Envoyer!
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
