<h1>Ajouter un entrainement/service</h1>
<hr>
<div class="container row">
  <%= simple_form_for(@new_service, url: "/crews/#{@crew.id}/add_service", method: :post, html: { multipart: true }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
     <div class="col-md-8">
      <%= f.input :name, label: "nom de l'entrainement/service" %>
      <%= f.input :description, input_html: {style: "min-height: 125px;"} %>
      <div class="col-md-8">
        <div class="col-md-12">
          <b>combien temp dure cette entrainement/service?</b>
        </div>
        <div class="col-md-5">
          <%= f.label "H" %>
          <button type="button" name="button" class="btn_1" id="change_time" data-instance="new" data-operation="plus" data-for="hour">
            +
          </button>
          <%= f.input :duration_hours,as: :string, label: false,
            input_html: { id:"input_hour_new", class: "hour", onchange: "if( this.value.length == 1 ) this.value='0'+this.value;"  }
          %>
          <button type="button" name="button" class="btn_1" id="change_time" data-instance="new" data-operation="minus" data-for="hour">
            -
          </button>
        </div>
        <div class="col-md-2" style="margin-top: 45px;">
          <b>:</b>
        </div>
        <div class="col-md-5">
          <%= f.label "M" %>
          <button type="button" name="button" class="btn_1" id="change_time" data-instance="new" data-operation="plus" data-for="min">
            +
          </button>
          <%= f.input :duration_minutes,as: :string, label: false,
            input_html: { id:"input_min_new", class: "minute", onchange: "if( this.value.length == 1 ) this.value='0'+this.value;"  }
          %>
          <button type="button" name="button" class="btn_1" id="change_time" data-instance="new" data-operation="minus" data-for="min">
            -
          </button>
        </div>
      </div>
     </div>
     <div class="col-md-4">
        <h4><strong><i class="icon-star"></i>Photo Star</strong></h4>
        <%= render './shared/nest_avatar_form', {f: f, attachable: @new_service }  %>
      </div>
      <hr>
      <%= render './shared/multimedia_form', f: f  %>
    </div>
   <div class="form-actions col-md-12" style="margin-top: 3rem; border-top: 10px;">
     <%= button_tag class: 'btn_full', type: :submit do %>
      <font size="50px">Ajoutez cette entrainement/service</font>
     <% end %>
   </div>
  <% end %>
</div>
