<section class="card">
  <header style="">
    <% if has_photos_of srvc %>
    <!-- has_photos is a application helper method -->
      <%= image_tag srvc.photo.url %>
    <% else %>
      <img src="https://source.unsplash.com/ZKNsVqbRSPE/1000x400" />
    <% end %>

    <div class="text-wrap">
      <h2><strong><%= srvc.name %></strong></h2>
      <div class="dropdown">
        <a class="btn_1 dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class=" icon-cog"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <a href="#0" class="" data-toggle="modal" data-target="#edit_service<%= srvc.id %>">
              <i class="icon-edit-2"></i> editer...
            </a>
          </li>
          <li>
            <a class="text-center" href="#0" data-toggle="modal" data-target="#add_pic<%= srvc.id %>">
              +<i class="icon-picture"></i> Ajouter une photo...
            </a>
          </li>
          <li>
            <a class="text-center" href="#0" data-toggle="modal" data-target="#add_vid<%= srvc.id %>">
              +<i class="icon-video"></i> Ajouter une video...
            </a>
          </li>
          <li>
            <a href="#0" class="" data-toggle="modal"
            style="color: red;" data-target="#delete_service<%= srvc.id %>">
              <i class="icon-trash"></i>...
            </a>
          </li>
        </ul>
      </div>

    </div>
  </header>
  <main>
    <div href="#" class="cta-wrap invis_btn">
      <i class="icon-stopwatch"></i>
      <span>Durée:</span>
      <span><%= srvc.duration_hours %>h <%= srvc.duration_minutes %>m</span>
      <%= render './shared/add_avatar_btn', { attachable_type: srvc.class.name, attachable: srvc } %>
      <%= render './shared/add_video_btn', { watchable_type: srvc.class.name, watchable_id: srvc.id } %>
    </div>
    <div class="info-wrap">
      <div class="panel-group" id="accordion_<%= srvc.id %>">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
              <a class="accordion_<%= srvc.id %>-toggle" data-toggle="collapse" data-parent="#accordion_<%= srvc.id %>" href="#description_<%= srvc.id %>">
                <strong>Description</strong> <i class="icon-th-list"></i>
                <i class="indicator icon_minus_alt2 pull-right"></i>
              </a>
            </h4>
					</div>
					<div id="description_<%= srvc.id %>" class="panel-collapse collapse in">
						<div class="panel-body scrollable">
              <%= srvc.description %>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
              <a class="accordion_<%= srvc.id %>-toggle" data-toggle="collapse" data-parent="#accordion_<%= srvc.id %>" href="#pictures_<%= srvc.id %>">
                <strong>Photos</strong> <i class="icon-picture"></i> <strong><%= count_avatars_for srvc %></strong>
                <i class="indicator icon_plus_alt2 pull-right"></i>
              </a>
            </h4>
					</div>
          <% if has_photos_of srvc %>
  					<div id="pictures_<%= srvc.id %>" class="panel-collapse collapse">
              <div class="panel-body scrollable">
                <%= render './shared/pictures_gallery', attachable: srvc  %>
              </div>
  					</div>
          <% end %>
				</div>

        <% if has_videos_of srvc %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
                <a class="accordion_<%= srvc.id %>-toggle" data-toggle="collapse" data-parent="#accordion_<%= srvc.id %>" href="#videos_<%= srvc.id %>">
                  <strong>Videos</strong> <i class="icon-video"></i> <strong><%= count_videos_for srvc %></strong>
                  <i class="indicator icon_plus_alt2 pull-right"></i>
                </a>
              </h4>
						</div>
						<div id="videos_<%= srvc.id %>" class="panel-collapse collapse">
							<div class="panel-body scrollable">
                <%= render './shared/videos_gallery', watchable: srvc  %>
							</div>
						</div>
					</div>
        <% end %>
			</div>
    </div>
  </main>
</section>
<!--edit srvc modal-->
<div class="modal fade bs-example-modal-lg" id="edit_service<%= srvc.id %>" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content modal-popup">
      <%= render './training_types/form', training_type: srvc %>
    </div>
  </div>
</div><!--end edit modal-->

<!--destroy srvc modal-->
<div class="modal fade bs-example-modal-lg" id="delete_service<%= srvc.id %>" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content modal-popup">
      <h1>Etes vous sur de vouloir supprimez ce service/entrainement?</h1> <br>
      <div class="text-wrap">
        <h2><strong><%= srvc.name %></strong></h2>
      </div>
      <%= image_tag srvc.photo.url(:thumb) %>
      <hr>
      <%= link_to "/crews/#{@crew.id}/destroy_service/#{srvc.id}", class:"btn_1 white", method: 'post' do %>
        <i class="icon-trash"></i> Oui
      <% end %>
      <a href="#" class="btn_1" onclick="$('#delete_service<%= srvc.id %>').modal('hide');" data-turbolinks="false">
        <i class="icon-check"></i> non
      </a>
    </div>
  </div>
</div><!--end destroy modal-->
