<%# navigation styled for Bootstrap 3.0 %>
<header id="nav" style="min-height: 60px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<%= link_to root_path, id:'logo', data: { turbolinks: false } do %>
							<%= image_tag "logo_small.png", class:"logo_normal picture_frame" %>
	            <%= image_tag "logo_small_dark.png", class:"logo_sticky picture_frame" %>
					<% end %>
				</div>
				<nav class="col-md-9 col-xs-6">
					<ul id="access_top">
						<%= render 'layouts/kc_layouts/nav_links_for_auth' %>
					</ul>
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);" data-turbolinks="false"><span>Menu mobile</span></a>
					<div class="main-menu">
						<div id="header_menu">
							<%= image_tag "biglogo.png", width:"95", height:"27" %>
						</div>
						<a class="open_close" id="close_in" data-turbolinks="false"><i class="icon_close"></i></a>
						<ul id="access_top">
							<li><a href="/1/services" class="search-overlay-menu-btn">Nos Services</a>
								/
							</li>
							<li><a href="/1/coaches" class="search-overlay-menu-btn">Notre Equipe</a>
								/
							</li>
							<li><a href="/1/contact" class="search-overlay-menu-btn"><i class="icon-question"></i></a>
							</li>
							</li>
							<li><a href="/1/login" data-toggle="modal" data-target="#login" class="visible-xs">connection</a>
							</li>
							<li><%= link_to "Commencez mon kickstart!", "/1/signup", class:"visible-xs"%>
							</li>
						</ul>
					</div>
					<!-- End main-menu -->
				</nav>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</header>
	<div class="footer navbar-fixed-bottom">
		<%= render 'layouts/messages' %>
		<div id="toTop"></div>
	</div>
