<%# navigation styled for Bootstrap 3.0 %>
<header id="nav">
  <nav class="navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to "#", class: "navbar-brand", data: { turbolinks: false } do %>
       <%= image_tag 'staffit_logo.png', width: "100px" %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "javascript:void(0);",  onclick: "toggleSideBar()", class: "navbar-brand", data: { turbolinks: false } do %>
         <i class="icon-th-1"></i>
        <% end %>
      <% end %>
      <%= link_to '<i class="icon-home-2"></i>'.html_safe, root_path, class: 'navbar-brand', data: { turbolinks: false } %>
    </div>

    <div class="collapse navbar-collapse" style="margin-right: 200px">
      <ul class="nav navbar-nav pull-right">
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
    </div>
    <div class="navborder">
      .
    </div>
  </nav>
</header>


<div class="footer navbar-fixed-bottom">
  <%= render 'layouts/messages' %>
</div>
