<% if @crew %>
  <div id="sidebar-wrapper" class="col-md-2 animated">
    <div id="sidebar" class="">
        <ul class="nav list-group">
            <li>
              <%= link_to crew_path(@crew), class:"hidden-xs navlinks" do %>
                <i class="icon-home-2"></i> Acceuille
              <% end %>
            </li>
            <li>
              <%= link_to "Vos Coachs", "/crews/#{@crew.id}/coaches", class: "list-group-item"%>
            </li>
            <li>
              <%= link_to "Vos Services", "/crews/#{@crew.id}/services", class: "list-group-item"%>
            </li>
            <li>
              <%= link_to "Kickstarts non confirmé", "/crews/#{@crew.id}/kickstarts", class: "list-group-item"%>
            </li>
            <li>
              <%= link_to "Vos Clubs", "/crews/#{@crew.id}/clubs", class: "list-group-item"%>
            </li>
            <li>
              <%= link_to "Vos Annonces", "/crews/#{@crew.id}/annoncements", class: "list-group-item"%>
            </li>
        </ul>
    </div>
  </div>
<% end %>
