<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kongocoaching" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kongocoaching" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= render 'layouts/navigation' %>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= render 'layouts/header_modals' %>
       <%= yield %>
    </main>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</html>
