<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kongocoaching" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kongocoaching" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
      <%= render 'layouts/kc_layouts/navigation' %>
    <main role="main">
     <%= yield %>
    </main>
    <%= render 'layouts/kc_layouts/footer' %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <% if params[:controller] == "kongo_coaching_pages" %>
    <% if params[:action] == "home" %>
      <%= javascript_include_tag 'lovefit/video_header', 'data-turbolinks-track' => 'load' %>
      <%= javascript_include_tag "lovefit/bootstrap-portfilter", 'data-turbolinks-track' => 'load' %>
      <script>
        HeaderVideo.init({
          container: $('.header-video'),
          header: $('.header-video--media'),
          videoTrigger: $("#video-trigger"),
          autoPlayVideo: true
        });
      </script>
    <% end %>
  <% end %>
</html>
